.header-container {
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 3px solid black;
    margin: 4em;
    margin-bottom: 2em;
}

.header-container img {
    width: 10%;
    margin-top: 0;
 
}

.header-title {
    margin-left: 5em;
}

.header-container h2 {
    font-weight: bold;
    font-size: 2em;
}